################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Software/Nucleo/Eirbot2018.VC.db
/Software/Nucleo/Eirbot2018.VC.VC.opendb
/Software/Nucleo/.vs/Eirbot2018/v14
/Software/Nucleo/.travis.yml
