################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Software/Nucleo/Eirbot2018.VC.db
/Software/Nucleo/Eirbot2018.VC.VC.opendb
/Software/Nucleo/.vs/Eirbot2018/v14
/Software/Nucleo/.travis.yml
/Range Sensors/VL53L0X_1.0.2
/Range Sensors/VL53L0X_1.0.2
/Software/GUI/build-BotGUI-Desktop_Qt_5_8_0_MinGW_32bit (1)
/Software/Nucleo/lib/VL53L0X
/Software/Nucleo/VL53L0X
